.about{
  /* border: 1px solid white; */
  height: 100vh;
  text-align: center;
  font-size: 4rem;
  background-color: black;
}

#typerwrite{
  display: flex;
  justify-content: center;
  width: 100%;
  justify-content: space-between;
  
}
        #item1{
          /* border: 1px solid white; */
          display: flex;
          
          align-items: center;
          justify-content:center;
          
        }
        #item2{
          /* border: 1px solid white; */
          display: flex;
          align-items: center;
          justify-content:center;
          text-shadow: 0.5rem 0rem 0.2rem red ,-0.5rem 0rem 0.2rem cyan ;

        }

/* .grid-item3{
  border: 1px solid white;
}
.grid-item4{
  border: 1px solid white;
}
.grid-item5{
  border: 1px solid white;
}
.grid-item6{
  border: 1px solid white;
} */
