#error {
    font-family: 'Press Start 2P', cursive;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

#error button {
    color: black;
    border-radius: 30px;
    text-align: center;
    font-size: xx-large;
    background-color: transparent;
    transition: 500ms linear;
    text-shadow: 4px 0px 5px rgb(201, 84, 103);
    border-color: rgb(201, 84, 103);
}

#butt:hover {
    transform: skewY(5deg);
    border: none;
    box-shadow: 5px 0px 20px 10px rgb(201, 84, 103);
}