#error {
  font-family: "Press Start 2P", cursive;
  font-size: xx-large;
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

#error button {
  color: black;
  border-radius: 3rem;
  text-align: center;
  font-size: xx-large;
  background-color: transparent;
  transition: 500ms linear;
  text-shadow: 0.4rem 0rem 0.5rem rgb(201, 84, 103);
  border-color: rgb(201, 84, 103);
}

#butt:hover {
  transform: skewY(5deg);
  border: none;
  box-shadow: 0.5rem 0rem 2rem 1rem rgb(201, 84, 103);
}
