#form {
  display: flex;
  border: 0.2rem solid;
  align-items: center;
  height: 65vh;
  justify-content: center;
  width: 98%;
  border-radius: 3rem;
}

#form:hover {
  box-shadow: 1rem 0rem 0.6rem;
}

label {
  font-size: 3rem;
  /* margin: 2.0rem; */
}

input {
  font-size: 3rem;
  margin: 2rem;
  border-radius: 3rem;
  text-align: center;
}

input:hover {
  box-shadow: 1rem 0rem 0.6rem, -1rem 0rem 0.6rem;
}
