#form{
    display: flex;
    border: .2rem solid;
    align-items: center;
    height: 65vh;
    justify-content: center;
    width: 98%;
    border-radius: 3.0rem;
    
}

#form:hover{
    box-shadow: 1.0rem .0rem .6rem ;
}

label{
    font-size: 3.0rem;
    /* margin: 2.0rem; */
}

input {
    font-size: 3.0rem;
    margin: 2.0rem;
    border-radius: 3.0rem;
    text-align: center;
}

input:hover {
    box-shadow: 1.0rem .0rem .6rem ,-1.0rem .0rem .6rem ;
}