#project{
    text-transform: capitalize;
    text-align: center;
    text-shadow: .7rem .8rem 1.4rem;
}

.section{
height: 40vh;
width:40vh;
border: .1rem solid black;
margin: 1.0rem;
}

#cards{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    
    
}