#parentcontainer {
  background-color: black;
  display: flex;
  justify-content: center;
  margin-top: -3rem;
}

#container {
  display: grid;
  grid-template-columns: 30rem 30rem;
  grid-template-rows: 50rem 50rem;
  gap: 4rem;
}

#buttons {
  /* width: 100%; */
  background-color: black;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  gap: 1rem;
}

.category {
  font-size: 2rem;
  font-family: "Merienda One";
  background-color: whitesmoke;
  border-radius: 3rem;
  border-width: 0.5rem;
  border-color: mediumaquamarine;
  transition: 0.5s ease;
}

.category:hover {
  transform: scale(1.2, 1.2);
}
