.card{
    border: 1rem solid white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 50rem;
    height: 50rem;
    gap: 2rem;
    

}

.card img{
    width: 25rem;
    height:25rem ;
}

.cards_container{
    background-color: black;
    display: grid;
    grid-template-columns: 2;
    grid-area: span;

}