#aboutnav{
  position: absolute;
  display: flex;
  height: 10vh;
  width: 90%;
  justify-content: space-around;
  background-color: #f3f3f38b;
  box-shadow: 0 0 15px #1abc9d;
  margin-left:5%;
  margin-top: 5%;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  
}

#logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  line-height: 10px;
  transform: perspective(1000px) rotateX(-25deg) rotateY(25deg) ;
}
#logo h2{
  color: #1abc9d;
}
#logo h1{
  background-color: transparent;
  
}

#links{
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.link{
  font-size: 30px;
  scroll-snap-align: center;
}

#active{
  color: black;
  text-transform: uppercase;
  text-shadow: 0 0 3px black;
}


@media only screen and (min-width: 768px) {
  
  
  #links{
    flex-direction: row !important;
    gap: 20px;
  }
}

@media screen and (max-height:554px) {
  #skillsnav{
    display: none;
  } 

  
}