#about{
  height: 100vh;
  z-index: 100;
  background-color: #f3f3f3;
  /* background: url(/portfolio.gif); */

  /* background: #1abc9c; */
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 1000px;
  border-top:none ;
  outline: none;
  position: relative;
  overflow: hidden;
}

#greeting{
  background-color: #1abc9d8b;
  height: 15vh;
  width: 60%;
  position: absolute;
  top: calc(50% - 190px);
  display: flex;
  align-items: center;
  justify-content: center;
  top: 15%;
  right: -1%;
  border-radius: 10px;
  backdrop-filter: blur(5px);

}

#greeting h1{
  font-size: 30px;
  height: fit-content;
  width: fit-content;
  
  font-family: 'Press Start 2P', cursive;
  color: #f3f3f3;
  font-weight: 900;

}

#para{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 80%;
  position: absolute;
  right: -1%;
  bottom: 10%;
  background-color: #f3f3f3e5;
  box-shadow: 0 0 15px #1abc9d;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  overflow: auto;
  padding: 1rem;
}

#para p{
  color: #1abc9d;
  height: fit-content;
  width: fit-content;
  /* text-align: center; */

  letter-spacing: 2px;
  line-height: 15px;
  font-size: 10px;
  
  font-family: 'Press Start 2P', cursive;
}

#para p::first-letter{
  font-size: 30px;
  font-weight: 900;
}

#profile{

height: 25vh;
width: 25vh;
position: absolute;
border-radius: 50%;
top: 33%;
left: 8%;

}


@media only screen and (min-width: 768px) {

  #para{
    bottom: 4%;
    width: 50%;
  }

  #para p{
    font-size: 15px;
  }

  #greeting{
  width: 40%;
  top: calc(50% - 140px);
  }


  #greeting h1{
    
  font-size: 50px;
  }

  #profile{
    z-index: -1;
    height: 80vh;
    border-radius: 10%;
    width: 80vh;
    top: calc(50% - 300px);
    left: 5%;
  }
}


@media screen and (max-height:554px) {
  #greeting{
    
    top: calc(50% - 200px);
    backdrop-filter: blur(1px);
  }

  #profile{
    display: none;
  }

  #about{
    /* background: url("/ankit.jpg"); */
    /* background-size: 50%; */
    background-size: contain;
    background-position: center 30%;
    background-repeat: no-repeat;
  }

  #para{
    height: 50vh;
    width: 80%;
    right: -1%;
    bottom: 10%;
    backdrop-filter: blur(1px);
  }

  #para p{
    color: black;
  }

}