#about{
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  perspective: 1052px;
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  padding-bottom: 3px;
  background-color: var(--whiteshade);
}



#abouttext{
  display: grid;
  grid-template-rows: 2fr 5fr 1fr;
  margin-top: 4rem;
  overflow-x: hidden;
  
}

#aboutimage{
  overflow: hidden;
  padding:2rem;
  padding-top: 8rem;

}

#aboutimage img{
  height: 100%;
  width: 100%;
  border-radius: 10px;
}




#greeting{
  padding: 2rem;
  display: flex;
  gap: 1rem;
}

.greetingframe{
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.greetingframe h1{
  background-color: transparent;
  width: fit-content;
  letter-spacing: 1rem;
  padding: 1rem;
  font-family: "press start 2p";
  font-size: 20px;
  color: var(--text);
}

#seconditem{
  background-color: transparent;
  width: 100% !important;
  box-shadow: none
}

#seconditem h1{
  color: var(--cyanshade);
  text-align: center;


}

#seconditem h1::first-letter{
  font-size: 30px;
}

#para{
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
}

#para::-webkit-scrollbar{
  display: block;
  /* background-color: aqua; */
  width: 10px;
}

#para::-webkit-scrollbar-thumb{
  background-color: var(--cyanshade);
  border-radius: 10px;
  
}

#ulpara{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  /* overflow-y: scroll; */
}

#ulpara li{
  color: var(--text);
  font-size: 20px;
}

#ulpara li::first-letter{
  font-size: 30px;
}


#ulpara li::first-line{
  color: var(--cyanshade);
  font-size: 25px;
}










#resumediv{
  display: flex;
  align-items: center;
  justify-content: center;

}





#resumediv a{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px !important;
  height: fit-content;
}



@media only screen and (max-width: 459px) {



  #resumediv{
    background-color: var(--cyanshade);

  }
  
  #resumediv a{
    color: var(--whiteshade);
  }

  #ulpara{
    gap: 0;
    padding: 0;
  }

  #ulpara li{
    width: 94vw;
    padding: 1rem;

  }

  #greeting{
    padding: 1rem;
    
  }

  .greetingframe h1{
    letter-spacing: 0.5rem;
    font-size: 15px;
  }


 #abouttext{
  grid-template-rows: 1fr 4fr 0.5fr;
  margin-top: 0;
}


#para{
  width: 96%;
}

 
 
}

@media only screen and (max-width: 1162px) {

  #aboutimage{
    display: none;
  }
  
  #about{
    grid-template-columns: 1fr;
  }
  
}
