#contactnav{
  position: absolute;
  display: flex;
  height: 10vh;
  width: 90%;
  justify-content: space-around;
  background-color: #1abc9c8b;
  margin-left:5%;
  /* margin-top: 3%; */
  z-index: 10000000000;
  border-radius: 10px;
  backdrop-filter: blur(5px);;
  top:4%;
}

#contactnav  #logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 0 0 10px #1abc9c;
  line-height: 10px;
}

#contactnav  #logo h1{
  color: #1abc9c;
}


#contactnav  #logo h2{
  color: white;
}

#links{
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.link{
  font-size: 30px;
  scroll-snap-align: center;
}

#active{
  color: black;
  text-transform: uppercase;
  text-shadow: 0 0 3px black;
}

@media only screen and (min-width: 768px) {
  
  #contactnav{
    top: 1%;
  }

  #links{
    flex-direction: row !important;
    gap: 20px;
  }
}

@media screen and (max-height:554px) {
  #contactnav{
    display: none;
  }
}

