footer {
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--color1);
  height: 20rem;
  display: flex;
  font-size: 1rem;
  width: 100%;
  gap: 1rem;
  color: var(--color2);
  
  flex-shrink: 0; /* Prevent the footer from shrinking */
  /* Add any additional styles you want for the footer */
  
  
  /* clip-path: polygon(49.65% 0%, 0% 30%, 0% 100%, 100% 100%, 100% 30%); */
}

#footsocial {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#footsocial div {
  display: flex;
  font-size: 2rem;
}

#footcontact {
  width: 50.2%;
  height: 20rem;
  display: flex;
  border-right: 2px solid var(--color2);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

#footcontact div {
  display: flex;
  font-size: 2rem;
  gap: 2rem;
}

#footcontact div h1 a{
    text-decoration: none;
    gap: 2rem;
    color: var(--color2);
    transition:  100ms;
    border-radius: 1.8rem;
    padding: 1rem;
    
  }

#footcontact div h1 a:hover{
  box-shadow: 0.1rem 0rem 1rem var(--color1),-0.1rem 0rem 1rem var(--color2);
  transform: scale(1.2);

}

#footcontact h1
{
  
  background: linear-gradient(to right,rgb(0, 132, 185),grey,black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}

/* #footcontact div h1 a:first-child:hover{
  border-top-left-radius: 4rem;
  border-bottom-left-radius: 4rem;
} */



.wave {
  
  width: 100%;
  overflow: hidden;
  margin: -0.1rem;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
  transform: rotate(180deg);
  border: none;
}

.wave .shape-fill {
  fill: var(--color1);
}



 .social {
  margin: 3rem;
  width: fit-content;;
}
.social:hover {
  box-shadow: 0.3rem 0rem 1.5rem var(--color2), -0.3rem 0rem 1.5rem var(--color2);
  transform: scale(1.25);
  cursor: pointer;
  border-radius: 6rem;
}


.icns{
  fill: var(--color2);
  
}

#footsocial h1{
  background: linear-gradient(to right,rgb(180, 180, 180),rgb(70, 70, 70),black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}