#vignetee {
  
  border: 5px solid #f3f3f3;
  border-top: none;
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 100vh;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0.7));
}

#header {
  position: relative;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  display: flex;
  z-index: -100;
  /* overflow-x: hidden; */
}


.parallex {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;

  transition: transform 0.5s ease-out; /* Add the transition for a smoother effect */
}

#sky {
  z-index: -99;
  position: fixed;
  transform: translateZ(-200px) scale(2);
}

#mountains {
  top: calc(20% + 90px);
  z-index: -8;
  transform: translateZ(-150px) scale(2) ;
}

#trees {
  z-index: -6;
  top: calc(50% - 230px);
  transform: translateZ(-100px) scale(1.5);
}

#rocks {
  z-index: 5;
  /* height: 110vh; */
  /* transform: translateZ(-50px) scale(1.3); */
}

#rays {
  position: sticky;
}

#fog{
  transform: translateZ(-14px) scale(1.5);
}



#hometext{
  transform: translateZ(-120px) scale(1.1);
  /* z-index: -7; */
  background:linear-gradient(to right,#fbff80 30%, #faa757 50%, #99392f) !important;  
  background: text;
  left: 15%;
  -webkit-background-clip: text !important;
  background-clip: text !important;
  position: absolute;
  height: fit-content;
  top: -10%;
  /* clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 60%); */
}
 #homeheading{
  font-size: 10rem;
  font-family:cursive !important;
  letter-spacing: 20px;

  color: transparent;
   -webkit-text-stroke: #993730 1px;
}

/* #homeheading::first-letter{
  font-size: 15rem !important;
} */







/* 
@media only screen and (max-width: 796px) {
  
} */

@media screen and (max-height:532px) {
  #homeheading{
    font-size:3rem !important;
    letter-spacing: 5px;
  }

  /* #homeheading::first-letter{
    font-size: 5rem !important;
  } */

  #hometext{
    top: 40% ;
    left: -13%;
  }
  
  
}

@media screen and (max-width:1322px) {
  #hometext{
    top: 0% ;
    left: -20%;
  }
}

@media screen and (max-width:1023px)
{
  #trees{
    top: calc(50% - 170px);
  }
}
@media screen and (max-width:893px) {
  #hometext{
    top: 0%;
    left: -16%;
  }

  #homeheading{
    font-size: 6rem;
  }

  
}

@media screen and (min-height:482px) and (min-width:1330px) {
  
  #hometext{
    top: -10%;
    left: 16%;
  }

  #homeheading{
    font-size: 10rem;
  }
  
}

@media screen and (max-width:491px) and (min-height:533px){
  #homeheading{
    font-size: 2.5rem;
  }

  #hometext{
    top: 30%;
    
  }
}