@import url('https://fonts.googleapis.com/css2?family=Rubik+Pixels&display=swap');

#vignetee {
  border: 3px solid #f3f3f3;
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 100vh;
  outline: none;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0.7));
}

#header {
  position: relative;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  display: flex;
  z-index: -100;
  /* overflow: hidden; */
  outline: none;

  
}


.parallex {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  transition: transform 0.5s ease-out; /* Add the transition for a smoother effect */
  outline: none;

}

#sky {
  z-index: -99;
  position: fixed;
  transform: translateZ(-200px) scale(2);
}

#mountains {
  top: calc(20% + 90px);
  z-index: -8;
  transform: translateZ(-150px) scale(2) ;
  /* border-radius: 150px; */
}

#trees {
  z-index: -6;
  top: calc(50% - 300px);
  transform: translateZ(-100px) scale(1.5);
}

#rocks {
  z-index: 5;
  /* height: 110vh; */
  /* transform: translateZ(-50px) scale(1.3); */
}

#rays {
  position: sticky;
}

#fog{
  transform: translateZ(-190px) scale(1.5);
  font-family: 'Press Start 2P', cursive;
  left: 12%;
  top: 45vh;
}



#hometext{
  transform: translateZ(-120px) scale(1.1);
  z-index: -7;
  left: 10%;
  position: absolute;
  height: fit-content;
  top: 0%;
}
 #homeheading{
  font-size: calc(10vw);
  
  font-family: 'Press Start 2P', cursive;
  /* color: #ff6a3474; */
  letter-spacing: 20px;
}







