#links {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: black; */
  height: 10rem;
  position: relative;
  right: 50px;
}

#nav-list {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.list-item .link{
  color: white;
  text-decoration: none;
  font-family: cursive;
  letter-spacing: 0.5rem;
  font-size: 0.8rem;
  
}

.list-item:nth-child(1) .link
{
  color:  #6EC5E9;
}

.list-item:nth-child(2) .link
{
  color:  #FF8657 ;
}


.list-item:nth-child(3) .link
{
  color:   #6F7C87;
}

.list-item:nth-child(4) .link
{
  color:  #9D7FEA ;
}

#nav-list:has(.fancy:hover) .word:not(.fancy:hover){
  opacity: 0.5;  
  transition:0.5s cubic-bezier(0.165, 0.84, 0.44, 1);

}


.letter{
  display: inline-block;
  transition: 0.5s ease;
}




.word:hover .letter:nth-child(1){
  transform: translate(-80%, 60%) rotate(8deg);

}

.word:hover .letter:nth-child(2){
  transform: translate(-40% , 20%) rotate(4deg);

}
.word:hover .letter:nth-child(3){
  transform: translate(-10% , 60%) rotate(-6deg);
}

.word:hover .letter:nth-child(4){
  transform: translate(0% , 8%) rotate(-8deg);
}

.word:hover .letter:nth-child(5){
  transform: translate(0% , -20%) rotate(5deg);
}
.word:hover .letter:nth-child(6){
  transform: translate(0% , 20%) rotate(-3deg);
}

.word:hover .letter:nth-child(7){
  transform: translate(0% , -40%) rotate(-5deg);
}

.word:hover .letter:nth-child(8){
  transform: translate(0% , 15%) rotate(10deg);
}