#links {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: black; */
  height: 10rem;
  position: relative;
  right: 50px;
}

#nav-list {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.list-item .link{
  color: white;
  text-decoration: none;
  font-family: cursive;
  letter-spacing: 0.5rem;
  font-size: 0.8rem;
  
}

.list-item:nth-child(1) .link
{
  color:  #6EC5E9;
}

.list-item:nth-child(2) .link
{
  color:  #FF8657 ;
}


.list-item:nth-child(3) .link
{
  color:   #6F7C87;
}

.list-item:nth-child(4) .link
{
  color:  #9D7FEA ;
}