#projectdiv{
  position: relative;
  height: 100vh;
  width: 100%;
  justify-content: flex-end;
  align-items: last baseline;
  justify-items: center;
  display: flex;
  background-color: var(--whiteshade);
  
  overflow: hidden;
  padding: 1rem;
  gap: 1rem;
  flex-direction: column;
  
}

.projectanimation{
  position: absolute;
  left: 0;
  height: 70%;
  width: 50%;
}

#info{
  position: absolute;
  color: var(--cyanshade);
  visibility: hidden;
  top: -100%;
  width: 100vw;
  text-align: center;  
  font-size: small;
}

#cardcontainer{
  position: relative;
  right: 0%;
  gap: 5rem;
  height: fit-content;
  max-width: 550px;
  width: 50%;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  padding: 1rem;
  background: var(--whiteshade)00;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

#buttondiv{
  display: flex;
  justify-content: space-around;
  /* width: 100%; */
  gap: 90%;
  position: relative;
  padding-left: 22%;
  
}

#buttondiv button{
  cursor: pointer;
  padding: 2px;
  outline: none;
  border: none;
  background-color: var(--cyanshade);
  color: var(--whiteshade);
  border-radius: 20%;  
}

#buttondiv button:hover{
  transform: scale(1.2);
  transition: all 500ms cubic-bezier(0.86, 0, 0.07, 1);

}

@media screen and (max-width:400px) {
  #info{
    visibility: visible;
  }
}

@media screen and (max-width:790px) {
  #projectdiv{
    /* justify-items: center; */
    align-items: center;
    align-content: center;

  }

  .projectanimation{
    display: none;
  }

  #cardcontainer{
    width: 80%;
    height: 70vh;
    right: 0;
    top: -10%;
    gap: 2rem;
  }

  #buttondiv{
    top: -10%;
    padding-left: 5%;
    position: relative;

  }
  #buttondiv button{
  padding: 10px;
  background-color: var(--cyanshade);
  color: var(--whiteshade);
  border-radius: 20%;
  font-size: 1rem;  
  }
}



