#projectdiv{
  position: relative;
  height: 100vh;
  width: 100%;
  justify-content: flex-end;
  align-items: last baseline;
  justify-items: center;
  display: flex;
  background-color: #f3f3f3;
  background-image: url(/public/illustration.jpg);
  background-size: 40% 100%;
  
  background-repeat: no-repeat;
  background-position: 0px opx;
  overflow: hidden;
  padding: 1rem;
  gap: 1rem;
  flex-direction: column;
  
}

#cardcontainer{
  position: relative;
  right: 0%;
  gap: 5rem;
  height: fit-content;
  width: 50%;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  padding: 1rem;
  background: #f3f3f300;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

#buttondiv{
  display: flex;
  justify-content: space-around;
  /* width: 100%; */
  gap: 90%;
  position: relative;
  padding-left: 22%;
  
}

#buttondiv button{
  cursor: pointer;
  padding: 2px;
  outline: none;
  border: none;
  background-color: #1abc9c;
  color: #f3f3f3;
  border-radius: 20%;  
}

#buttondiv button:hover{
  transform: scale(1.2);
  transition: all 500ms cubic-bezier(0.86, 0, 0.07, 1);

}

@media screen and (max-width:790px) {
  #projectdiv{
    /* justify-items: center; */
    align-items: center;
    align-content: center;
    background-position: center;
    background-size: cover;

  }

  #cardcontainer{
    width: 80%;
    height: 70vh;
    right: 0;
    top: -10%;
    gap: 2rem;
  }

  #buttondiv{
    top: -10%;
    padding-left: 5%;

  }
  #buttondiv button{
  padding: 10px;
  background-color: #1abc9c;
  color: #f3f3f3;
  border-radius: 20%;
  font-size: 1rem;  
  }
}


