@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");


/* Main Container */
#maincontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  padding-top: 0;
  background-color: var(--color2);
  color: var(--color1);
  font-family: "Poppins", sans-serif;
}

/* Name of Project */
#nameofproject {
  margin-bottom: 2rem;

}

#nameofproject h1 {
  font-size: 4rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1rem;
  text-transform: capitalize;
}

/* Animations */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideup {
  from {
    transform: translateY(6.25rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Summary */
#summary {
  margin-bottom: 2rem;
  text-align: center;
  animation: fadein 1s ease-out;
}

#summary p{
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 0.2rem;
}

/* Context */
#context {
  margin-bottom: 2rem;
  text-align: center;
  animation: slideup 1s ease-out;
}

#context h3 {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 2rem;
  letter-spacing: 1rem;
}

/* Role */
#role {
  margin-bottom: 2rem;
  text-align: center;
  animation: slideup 1s ease-out;
}

#role h3 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 1.25rem;
  letter-spacing: 1rem;
}

/* Skills */
#skills {
  margin-bottom: 2rem;
  text-align: center;
  animation: slideup 1s ease-out;
}

#skills h3 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 1.25rem;
  letter-spacing: 1rem;
}

/* Outcome */
#Outcome {
  margin-bottom: 2rem;
  text-align: center;
  animation: slideup 1s ease-out;
}

#Outcome h3 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 1.25rem;
  letter-spacing: 1rem;
}

.content{
  font-size: 1.3rem;
  letter-spacing: 0.2rem;
}

.code-links {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.code-link, .deploy-link {
  display: inline-block;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.code-link {
  background-color: #3c40c6;
}

.deploy-link {
  background-color: #6ab04c;
}

.code-link:hover, .deploy-link:hover {
  transform: translateY(-2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

/* visuals css */
#Visuals{
  margin-bottom: 2rem;
  text-align: center;
  animation: slideup 1s ease-out;
}

#Visuals h3{
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 1.25rem;
  letter-spacing: 1rem;
}

#imagecontainer{
  height: 50rem;
  width: 60rem;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  padding: 10rem;
  padding-top: 20rem;
  background-color: whitesmoke;
  

  
}



#imageframe{
  background: linear-gradient(
    90deg, 
    #06284e 0%, 
    #0a3e66 10%, 
    #12658b 20%, 
    #198cb1 30%, 
    #23b3d3 40%, 
    #52c1d2 50%, 
    #a5cadc 60%, 
    #b7d3e3 70%, 
    #cadce9 80%, 
    #e6eff4 90%,
    #d1ecf5 91%,
    #b4dfe5 92%,
    #8cc3d3 93%,
    #5babc3 94%,
    #2e92b4 95%,
    #007fa8 96%,
    #006c8f 97%,
    #00586d 98%,
    #00404a 99%,
    #002829 100%
  );
  height: 90rem;
  width: 90rem;
  display: flex;
  align-items: center;
  justify-content: center;
  
  
}



#imagecontainer img{
  height: 50rem;
  width: 50rem;
  border-radius: 1rem;
}

#imagecontainer img:hover{
  transform: scale(1.2);
}
