.card{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 220px 40px 200px ;
  grid-template-areas: "image" "link" "text";
  font-family: Roboto;
  border-radius: 18px;
  
  color: white;
  /* border: 1px solid #1abc9c; */
  box-shadow: 5px 5px 15px #1abc9c69;
  text-align: justify;
  transform-style: flat;
  perspective: 10px;
  z-index: -1000;
  gap: 10px;
  scroll-snap-align: center;
  height: 65vh;
  width: 45vw;
  overflow-y: scroll;
  overflow-x: hidden;
}

#cardimage{
  grid-area: "image";
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;

}

#cardtext{
  grid-area: "text";
  color: black;
  margin: 20px;
}

#cardtext p {
  color: grey;
  font-size: 14px;
  font-weight: 300;
  /* text-align: center; */
}

#cardtext h2{
  margin-top: 0;
  font-size: 22px;
  text-align: center;
  
  text-transform: uppercase
}
#linktogithub{
  grid-area: "link";
}

#linktogithub{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100%;
  margin-top: 20px;
}

#linktogithub a{
  text-decoration: none;
  color: #1abc9caf;
  cursor: pointer;
  font-size: 20px;

}


@media screen and (max-width:790px) {
  .card{
    width: 65vw;
    height: 75vh;
    background: #00000096;
    backdrop-filter: blur(10px);
  grid-template-rows: 210px 40px 200px ;
  }
}