.card {
  display: grid;
  grid-template-rows: 25rem 5rem 10rem 10rem;
  height: 40rem;
  width: 40rem;
  cursor: help;
  margin: 3rem;
  border-radius: 3rem;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: scale(1.05);
}

.linktosite:hover{
  text-decoration: underline;
  cursor: pointer !important;
}