#projectdiv{
  position: relative;
  height: 100vh;
  width: 100vw;
  display: grid;
  background-color: var(--whiteshade);
  overflow: hidden;
  padding: 1rem;
  grid-template-columns: 1fr 1fr !important;
  grid-template-rows:1fr ;
  padding-top: 7%;
}

#lottiediv{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;
  width: 100%;
  height: 100%;
}


.projectanimation{
  position: relative;
  bottom: 0;
  -webkit-box-reflect: below 0px linear-gradient(transparent, rgba(0, 0, 0, 0.227));
  border-bottom: 1px solid var(--text);
}



#cardsdiv{
  
  display: grid;
  grid-template-rows: 9fr 1fr;
  width: 100%;
  height: 100%;
}

#cardssubdiv{
  overflow: hidden !important;
  display: flex;
  flex-grow: 0;
  justify-content: center;
  align-items: center;
  
}


#cardcontainer{
  position: relative;
  overflow-y: hidden;
  overflow-x: scroll;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 0.5rem;
  width: 100%;
  max-width: 600px;
  gap: 2rem;
  scroll-snap-type:x mandatory;
}

#buttondiv{
  position: relative;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}



#buttondiv button{
  color: var(--whiteshade);
  background: var(--cyanshade);
  border: none;
  outline: none;
  height: fit-content;
  width: fit-content;
  padding: 1rem;
  border-radius: 10px;
  transition:all ease-in-out 500ms;
  font-weight: bold;
  cursor: pointer;
}

#buttondiv button:hover{
  scale: 1.1;
}






#info{

  color: var(--text);
  visibility: hidden;
  position: absolute;
  top: -20px;
  text-align: center;  
  font-size: small;
}

@media screen and (max-width:400px) {
  #info{
    visibility: visible;
  }
}

@media screen and (max-width:790px) {
  #projectdiv{
    padding: 2rem;
    grid-template-columns: 1fr !important;
    padding-top: 5rem;
  }

  
#cardcontainer{
  width: 100%;
  max-width: 250px;
}

  #lottiediv{
    display: none;
  }

}



