.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 290px 40px 200px;
  grid-template-areas: "image" "link" "text";
  font-family: Roboto;
  border-radius: 18px;
  /* border: 1px solid #1abc9c; */
  box-shadow: 0px 0px 5px var(--cyanshade);
  text-align: justify;
  transform-style: flat;
  perspective: 10px;
  z-index: -1000;
  gap: 10px;
  scroll-snap-align: center;
  height: 65vh;
  width: 45vw;
  overflow: hidden;
}

#cardimage {
  grid-area: "image";
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  background-position: center !important;
  background-size: cover !important;

  background-repeat: no-repeat !important;
}

#cardtext {
  grid-area: "text";
  color: var(--text);
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

#cardtext p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: var(--text);
  /* text-shadow: 0 0 15px var(--cyanshade); */
  font-size: 14px;
  font-weight: 300;
  /* text-align: center; */

}

#cardtext h2 {
  margin-top: 0;
  font-size: 30px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  text-transform: uppercase;
}
#linktogithub {
  grid-area: "link";
}

#linktogithub {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cyanshade);
  
}

#linktogithub a {
  text-decoration: none;
  color: var(--whiteshade) !important;
  cursor: pointer;
  font-size: 20px;
}

@media screen and (max-width: 790px) {
  .card {
    width: 65vw;
    height: 60vh;
    background: var(--whiteshade);
    backdrop-filter: blur(10px);
    grid-template-rows: 210px 40px 200px;


  }


}
