#name {
  display: flex;
  align-items: center;
}

.shapes {
  height: 4rem;
  min-width: 4rem;
  margin-right: 2rem;
  background-color: var(--color1)smoke;
}

#s1 {
  animation: shapechangea 4s both infinite;
}

#s2 {
  animation: shapechangen 3s step-start infinite;
}

#s3 {
  animation: shapechangek 3s step-start infinite;
}

#s4 {
  animation: shapechangei 3s reverse infinite;
}

#s5 {
  animation: shapechanget 3s step-start infinite;
}

@keyframes shapechangea {
  15% {
    background-color: var(--color1);
    clip-path: polygon(
      0% 100%,
      0% 1%,
      99% 0%,
      99% 99%,
      80% 99%,
      73% 19%,
      24% 29%,
      26% 61%,
      81% 52%,
      81% 75%,
      27% 78%,
      25% 100%
    );
  }
  20% {
    background-color: var(--color1);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    
  }
  40% {
    background-color: var(--color1);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  }
  60% {
    background-color: var(--color1);
    clip-path: polygon(
      30% 0%,
      70% 0%,
      100% 30%,
      100% 70%,
      70% 100%,
      30% 100%,
      0% 70%,
      0% 30%
    );
  }
  100% {
    background-color: var(--color1);
    clip-path: circle(50% at 50% 50%);
  }
}

@keyframes shapechangen {
  0% {
    background-color: var(--color1);
    clip-path: circle(50% at 50% 50%);
  }
  20% {
    background-color: var(--color1);
    clip-path: polygon(
      0% 77%,
      0 0,
      22% 0,
      79% 82%,
      79% 0%,
      100% 0,
      100% 100%,
      68% 100%,
      20% 31%,
      22% 99%,
      0 100%
    );
  }
  40% {
    background-color: var(--color1);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }
  60% {
    background-color: var(--color1);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  }
  100% {
    background-color: var(--color1);
    clip-path: polygon(
      30% 0%,
      70% 0%,
      100% 30%,
      100% 70%,
      70% 100%,
      30% 100%,
      0% 70%,
      0% 30%
    );
  }
}

@keyframes shapechangek {
  0% {
    background-color: var(--color1);
    clip-path: polygon(
      30% 0%,
      70% 0%,
      100% 30%,
      100% 70%,
      70% 100%,
      30% 100%,
      0% 70%,
      0% 30%
    );
  }
  20% {
    background-color: var(--color1);
    clip-path: circle(50% at 50% 50%);
  }
  40% {
    background-color: var(--color1);
    clip-path: polygon(
      49% 0,
      28% 0,
      30% 50%,
      30% 100%,
      50% 100%,
      50% 59%,
      80% 100%,
      100% 80%,
      58% 46%,
      100% 20%,
      80% 0%,
      50% 30%
    );
  }
  60% {
    background-color: var(--color1);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }
  100% {
    background-color: var(--color1);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  }
}

@keyframes shapechangei {
  0% {
    background-color: var(--color1);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  }
  20% {
    background-color: var(--color1);
    clip-path: polygon(
      30% 0%,
      70% 0%,
      100% 30%,
      100% 70%,
      70% 100%,
      30% 100%,
      0% 70%,
      0% 30%
    );
  }
  40% {
    background-color: var(--color1);
    clip-path: circle(50% at 50% 50%);
  }
  60% {
    background-color: var(--color1);
    clip-path: polygon(
      0 0,
      100% 0,
      100% 25%,
      57% 26%,
      70% 74%,
      100% 75%,
      100% 100%,
      0 100%,
      0 75%,
      30% 74%,
      41% 26%,
      0 25%
    );
  }
  100% {
    background-color: var(--color1);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }
}

@keyframes shapechanget {
  0% {
    background-color: var(--color1);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }
  20% {
    background-color: var(--color1);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  }
  40% {
    background-color: var(--color1);
    clip-path: polygon(
      30% 0%,
      70% 0%,
      100% 30%,
      100% 70%,
      70% 100%,
      30% 100%,
      0% 70%,
      0% 30%
    );
  }
  60% {
    background-color: var(--color1);
    clip-path: circle(50% at 50% 50%);
  }
  100% {
    background-color: var(--color1);
    clip-path: polygon(
      10% 25%,
      35% 25%,
      35% 0%,
      65% 0%,
      65% 25%,
      90% 25%,
      90% 50%,
      65% 50%,
      65% 100%,
      35% 100%,
      35% 50%,
      10% 50%
    );
  }
}
