#skillsnav{
    display: flex;
    height: 10vh;
    width: 90%;
    justify-content: space-around;
    background-color: #ffffff43;
    box-shadow: 0 0 5px rgba(0,0,0,0.9);
    margin-left:5%;
    margin-top: 1%;
    border-radius: 10px;
    backdrop-filter: blur(2px);
    z-index: 1000;
    position: absolute ;
  }

#skillsnav a{
  color: #a58cb2;
}
  
#skillsnav  #logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    text-shadow: 0 0 10px #013d7c;
    line-height: 10px;
  }
#skillsnav  #logo h2{
    color: #c8bca2;
  }
  
  #links{
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
  }
  
  .link{
    font-size: 30px;
    scroll-snap-align: center;
  }
  
  #active{
    color: black;
    text-transform: uppercase;
    text-shadow: 0 0 3px black;
  }

  
  
  @media only screen and (min-width: 768px) {
  
  
    #links{
      flex-direction: row;
      gap: 20px;
    }
  }
  
  @media screen and (max-height:554px) {
    #skillsnav{
      display: none;
    } 
  
    
  }

 