#skills {
  height: 100vh;
  width: 100%;
  z-index: 100;
  border: 5px solid var(--whiteshade);
  border-radius: 18px;
  /* background: #343541; */
  /* background-color: var(--cyanshade); */
  display: grid;
  grid-template-columns: 1.3fr 4.5fr;
  grid-template-rows:1fr;
  position: relative;
}

aside{
  position: relative;
  /* background-color: #202123; */
  background-color: var(--cyanshade);
  display: grid;
  grid-template-rows: 1fr 1fr;
  overflow-y: scroll;
  border-radius: 18px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#learning{
  height: 100%;
}

#skillsparent{
  display: grid;
  overflow-y: scroll;
  grid-template-rows:  10% 10fr !important;
  position: relative;
}



#skill-heading{
  border-bottom: 1px solid var(--cyanshade);
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
#skill-heading h1{
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* color: #d9d9e3; */
  color: var(--cyanshade);
  font-weight: 600;
  height: fit-content;
  width: fit-content;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(auto-fill,1fr);
  width: 100%;
}

.skill {
  width: calc(33.33% - 20px);
  margin: 10px;
  margin-left: 2%;
  text-align: center;
  border: 1px solid var(--cyanshade);
  /* padding-top: 0.5rem; */
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 10px;
  height: fit-content;
  width: fit-content;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  /* color: #272822;  */
  color: var(--cyanshade);
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  justify-items: center;
  /* margin-right: auto;*/
  margin-left: 7%; 
}


.skillicon {
  font-size: 48px;
  /* margin-bottom: 10px; */
  color: var(--text); /* Icon color */
}

#skill-name {
  font-size: 18px;
  margin: 10px 0;
  color: var(--cyanshade); /* Text color */
}

#responsecontainer{
  /* background-color: black; */
  display: grid;
  grid-template-rows: 1fr 9fr;
}

#question{
  display: grid;
  grid-template-columns: 1.5fr 5fr;
  justify-content: center;
  align-content: center;
}

#question h1{
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* color: #ececf1; */
  color: var(--cyanshade);
  /* background-color: #0084ff; */
  /* text-align: center; */

  font-weight: 600;
  /* height: fit-content; */
  /* width: fit-content; */
  margin-left: 3%;

}

.resicon{
  font-size: 2rem;
  margin-left: auto !important;
  margin-right: 3% !important;
}



#response{
  background-color: var(--whiteshade);
  display: grid;
  grid-template-columns: 1.5fr 5fr;
  justify-content: center;
  justify-items: center;
  align-items: top;
  padding-top: 1rem;
  
}



#response h3{
  font-family: sans-serif;
  /* color: #d1d5db; */
  color: var(--cyanshade);
}



#learning{
  display: grid;
  padding: 1rem;
  grid-template-rows: 20% auto;
}

#learninghead{
  border: 1px solid var(--whiteshade);
    height: 100%;
    width: 100%;
    border-radius: 18px;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding-left: 1rem;
}

#learninghead h1{
  color: var(--whiteshade) !important;
    font-family: sans-serif !important;
    font-size: 14px !important;
    font-weight: 400 !important;
}

#inter{
  padding: 1rem;
  display: grid;
  grid-template-rows: repeat(5,1fr);
}

#inter h1{
  font-size: 15px;
  color: var(--whiteshade);
  font-family: 'Courier New', Courier, monospace;

}

#statebutton{
  z-index: 100000;
  position: absolute;
  display: none;
}

#closestate{
  position: absolute;
  display: none;
}

@media (max-width: 768px) {
  
  #skills{
    grid-template-columns: 1fr;
  }

  #statebutton{
    display: flex;
    align-items: center;
    justify-content: center;
    left: 5vw;
    width: 15%;
    height: 4%;
    border-radius: 6px;
    background-color: var(--cyanshade);
    padding: 0.5rem;
    border: none;
    color: var(--whiteshade);
    
    font-family: 'Press Start 2P', cursive;


  }
  /*this component is present in skillnav.jsx*/
  #closestate{
    display: flex;
    z-index: 100000000;
    color: var(--cyanshade);
    border:none ;
    right: 5vw;
    width: 20%;
    font-family: 'Press Start 2P', cursive;
 
    border-radius: 18px;
    background-color: var(--whiteshade);
    padding: 0.5rem;
    align-items: center;
    justify-content: center;
  }
  
  aside{
    z-index: 10000000;
    position: absolute;
    height: 100%;
    left: -100%;
  }

  
}




  @media (max-width: 922px) {
  
  
    .skills-container {
      
      grid-template-columns: repeat(2,1fr);
    }
    }

    
@media (max-width: 516px) {
  
  #question h1{
    margin-left: 10%;
  }

  .skills-container {
    grid-template-columns: 1fr;
  }
  }

 