body {
    margin: 0;
    padding: 0%;
    background: linear-gradient(rgb(104, 53, 192) , rgb(130, 97, 168) );
    height: 99vh;
    width: 99%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

#button {
    color: #e99651;
    box-shadow: 4px 3px 3px black;
    margin: 30px;
    border-radius: 10PX;
    border: none;
    background-color: transparent;
    font-size: xx-large;
    font-family: BurbankBigRegular-Black !important;
}

#button:hover {
    transform: scale(1.1);
}

nav {
    display: inline-flex;
    transition: 1000ms ease-in-out;
    position: absolute;
    left: 0%;
    margin-bottom: 20px;
    width: 78%;
    justify-content: center;
    text-transform: capitalize;
    /* border: 2px solid; */
    border-radius: 8px;
    box-shadow: 10px 0px 10px, -10px 0px 10px;
    height: 10vh;
    align-items: center;
    /* background: linear-gradient(green, rgba(221, 221, 221, 0.5)); */
    background: transparent;
}

nav a {
    color: #e99651;
    transition: 500ms linear;
    margin: auto;
    text-decoration: none;
    font-size: 30px;
    text-shadow: 20px 10px 9px #e2883f;
    font-family: BurbankBigRegular-Black !important;
}

nav a:hover {
    /* box-shadow: 10px 2px 3px rgb(255, 255, 255); */
    transform: scale(1.2);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
    background-color: transparent;
    left: 0;
}