html{
    font-size: 1vw;
}
body {
    margin: 0;
    padding: 0%;
    background: linear-gradient(rgb(104, 53, 192) , rgb(130, 97, 168) );
    height: 99vh;
    width: 99%;
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* background-size: fill; */
    /* overflow: hidden; */
}

#button {
    color:  black;
    /* box-shadow: .4rem .3rem .3rem black; */
    margin: 4.0rem;
    /* border-radius: 1.0rem; */
    border: none; 
    background-color: transparent;
    font-size: xx-large;
    font-family: BurbankBigRegular-Black !important;
    transition: 1000ms ease-out;
}


nav {
    display: inline-flex;
    transition: 1000ms ease-in-out;
    position: relative;
    left: 0%;
    margin-bottom: 2.0rem;
    width: 78%;
    justify-content: center;
    text-transform: capitalize;
    /* border: .2rem solid; */
    border-radius: .8rem;
    box-shadow: 1.0rem .0rem 1.0rem, -1.0rem .0rem 1.0rem;
    height: 10vh;
    align-items: center;
    /* background: linear-gradient(green, rgba(221, 221, 221, 0.5)); */
    background: transparent;
}

nav a {
    color: black;
    transition: 500ms linear;
    margin: auto;
    text-decoration: none;
    font-size: 3.0rem;
    text-shadow: .4rem 1.0rem .9rem ;
    font-family: BurbankBigRegular-Black !important;
}

nav a:hover {
    /* box-shadow: 1.0rem .2rem .3rem rgb(255, 255, 255); */
    transform: scale(1.2);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0%;
    /* bottom: 0; */

    width: 100%;
    height: 10%;
    /* position: relative; */
    background-color: transparent;
    left: 0;
}

@media (max-width:360) {
html{
    font-size: 10vw;
}    
}