@import url('https://fonts.googleapis.com/css2?family=Rubik+Pixels&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumar+One&family=Poppins:wght@100&family=Press+Start+2P&family=Rubik+Wet+Paint&display=swap');

*,*::after,*::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:  cursive;
  transition: 0.7s ease;
}

html{
  background: #f3f3f3;
}

a{
  text-decoration: none;
  color: #1abc9d;
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
}

#wrapper{
  overflow: scroll;
  overflow-x: hidden;
  scroll-snap-type:y mandatory;
  width: 100%;
  height: 100vh; 
  perspective: 200px;
  scroll-behavior: smooth;
}

.common{
  scroll-behavior: smooth;
  scroll-snap-align: center;
  transition: 0.5s;
}

::-webkit-scrollbar{
  display: none;
}